RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L]

RewriteRule ^(.*\.(env|htaccess|config\.php))$ - [F,L]

RewriteRule ^public/(.*\.(?!php$)[^.]*)$ - [F,L]

Options -Indexes